[user]
	name = Dan Menssen
        email = dan.menssen@tranetechnologies.com
[credential]
	helper = !aws codecommit credential-helper --profile 004819182232_CodeCommit_ReadOnlyaccess $@
	UseHttpPath = true
[pull]
	rebase = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
	renameLimit = 2000
